*/.DS_Store
Jellyfin.Plugin.NewslettersRedux/bin
Jellyfin.Plugin.NewslettersRedux/obj
RELEASES
artifacts
Jellyfin.Plugin.NewslettersRedux/newsletters/
Jellyfin.Plugin.NewslettersRedux/newsletters-redux/
*.bak
.idea
